<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="../user/user-layout.xhtml">
	<ui:define name="content">
		<h:form id="accountForm">
			<p:panel header="My account">
				<h:panelGrid columns="1">
					<br></br>
					<br></br>
					<h:messages style="color:red;margin:8px;" />
					<br></br>
					<br></br>
					<h:outputText value="First Name: " />
					<p:inputText id="firstName"
						value="#{userController.account.firstName}"
						requiredMessage="First Name cannot be empty.">
						<f:validateRequired />
					</p:inputText>
					<br></br>
					<br></br>

					<h:outputText value="Last Name: " />
					<p:inputText id="lastName"
						value="#{userController.account.lastName}"
						requiredMessage="Last Name cannot be empty.">
						<f:validateRequired />
					</p:inputText>
					<br></br>
					<br></br>

					<h:outputText value="Email: " />
					<p:inputText id="email" value="#{userController.account.email}"
						readonly="true" requiredMessage="Email cannot be empty."
						validatorMessage="Invalid email format">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					<br></br>
					<br></br>

					<p:commandButton update="accountForm" id="saveUser" value="Save"
						action="#{userController.saveAccount(userController.account)}" />
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>