<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="../user/user-layout.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<h2>
				</h2>
				<p:panel header="Taxes List">
					<h:form>
						<p:inputText id="search" value="#{userController.searchString}" pt:placeholder="Tax Name"></p:inputText>
						<h:commandButton value="Search"
							action="#{userController.findTaxByUserIdAndTaxName(userController.userId, userController.searchString)}">
							<f:ajax execute="search" render="form"></f:ajax>
						</h:commandButton>
					</h:form>
					<p:dataTable id="table" var="tax" value="#{userController.taxes}">
						<p:column>
							<f:facet name="header">#</f:facet>
							<h:outputText value="#{userController.taxes.indexOf(tax) +1}" />
						</p:column>

						<p:column>
							<f:facet name="header">Name</f:facet>
							<h:outputText value="#{tax.name}" />
						</p:column>

						<p:column>
							<f:facet name="header">Price (RON)</f:facet>
							<h:outputText value="#{tax.price}">
							</h:outputText>
						</p:column>

						<p:column>
							<f:facet name="header">Due date</f:facet>
							<h:outputText value="#{tax.dueDate}" />
						</p:column>

					</p:dataTable>
				</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>