<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="../admin/admin-layout.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<p:panel>
				<p:toolbar>
					<f:facet name="left">
						<h:outputText value="Taxes List" />
					</f:facet>
					<f:facet name="right">
						<p:button href="/tax" value="New Tax" />
					</f:facet>
				</p:toolbar>

				<h:form id="searchForm">
					<p:inputText id="search" value="#{adminController.searchString}"
						pt:placeholder="Tax Name"></p:inputText>
					<h:commandButton value="Search"
						action="#{adminController.findTaxByUserIdAndTaxName(adminController.userId, adminController.searchString)}">
						<f:ajax execute="search" render="form"></f:ajax>
					</h:commandButton>
				</h:form>

				<p:dataTable id="table" var="tax" value="#{adminController.taxes}">
					<p:column width="40">
						<f:facet name="header">#</f:facet>
						<h:outputText value="#{adminController.taxes.indexOf(tax) +1}" />
					</p:column>

					<p:column>
						<f:facet name="header">Name</f:facet>
						<h:outputText value="#{tax.name}" />
					</p:column>

					<p:column>
						<f:facet name="header">Total Price (RON)</f:facet>
						<h:outputText value="#{tax.price}">
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">Due date</f:facet>
						<h:outputText value="#{tax.dueDate}" />
					</p:column>

					<p:column>
						<f:facet name="header">Edit</f:facet>
						<h:form>
							<p:commandButton id="editButton"
								action="#{taxController.editTax(tax)}" value="Edit"
								process="@this" update="form">
							</p:commandButton>
						</h:form>
					</p:column>

					<p:column>
						<f:facet name="header">Delete</f:facet>
						<h:form>
							<p:commandButton id="deleteButton"
								action="#{adminController.delete(tax)}" value="Delete"
								process="@this" update="form">
								<p:confirm header="Delete Confirmation"
									message="Delete #{tax.name}?" icon="ui-icon-alert" />
							</p:commandButton>

							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<div align="center">
									<p:commandButton value="Yes" type="button"
										styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
									<p:commandButton value="No" type="button"
										styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								</div>
							</p:confirmDialog>
						</h:form>
					</p:column>



				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>