<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="../admin/admin-layout.xhtml">
	<ui:define name="content">
		<h:form id="accountForm">

			<p:panel>
				<p:toolbar>
					<f:facet name="left">
						<h:outputText value="Edit Profile	" />
					</f:facet>
					<f:facet name="right">
						<p:button href="/taxContributors" value="My Tax Contributors" />
					</f:facet>
				</p:toolbar>
				<br></br>
				<br></br>
				<h:messages style="color:red;margin:8px;" />
				<br></br>
				<h:panelGrid columns="1">
					<h:outputText value="First Name: " />
					<p:inputText id="firstName"
						value="#{adminController.account.firstName}" maxlength="30">
						<f:validator binding="#{firstNameValidator}" />
					</p:inputText>
					<br></br>
					<br></br>

					<h:outputText value="Last Name: " />
					<p:inputText id="lastName"
						value="#{adminController.account.lastName}" maxlength="30">
						<f:validator binding="#{lastNameValidator}" />
					</p:inputText>
					<br></br>
					<br></br>

					<h:outputText value="Email: " />
					<p:inputText id="email" label="Email"
						value="#{adminController.account.email}" maxlength="45"
						readonly="true">
						<f:validator binding="#{emailValidator}" />
					</p:inputText>
					<p:watermark for="email" value="Email Address *" />
					<br></br>
					<br></br>

					<p:commandButton id="saveUser" update="accountForm" value="Save"
						action="#{adminController.saveAccount(adminController.account)}" />
				
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>

</html>