<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="../admin/admin-layout.xhtml">

	<ui:define name="content">
		<h:form id="form">

			<p:panel>
				<p:toolbar>
					<f:facet name="left">
						<h:outputText value="Due to pay	" />
					</f:facet>
					<f:facet name="right">
						<p:button href="/registerUser" value="Add Contributors" />
					</f:facet>
				</p:toolbar>
				<br></br>
				<br></br>

				<p:dataTable id="table" var="user"
					value="#{taxContributorController.users}">
					<p:column width="40">
						<f:facet name="header">#</f:facet>
						<h:outputText
							value="#{taxContributorController.users.indexOf(user) +1}" />
					</p:column>

					<p:column>
						<f:facet name="header">First Name</f:facet>
						<h:outputText value="#{user.firstName}" />
					</p:column>

					<p:column>
						<f:facet name="header">Last Name</f:facet>
						<h:outputText value="#{user.lastName}" />
					</p:column>

					<p:column>
						<f:facet name="header">Delete</f:facet>
						<h:form>
							<p:commandButton id="deleteButton"
								action="#{taxContributorController.deleteUser(user)}"
								process="@this" value="Delete" update="form">
								<p:confirm header="Delete Confirmation"
									message="Delete #{user.firstName} #{user.lastName}?"
									icon="ui-icon-alert" />
							</p:commandButton>

							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<div align="center">
									<p:commandButton value="Yes" type="button"
										styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
									<p:commandButton value="No" type="button"
										styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								</div>
							</p:confirmDialog>
						</h:form>
					</p:column>

					<h:inputHidden value="#{user.idUser}" id="userId" />

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>