<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core">
<ui:composition template="../admin/admin-layout.xhtml">
	<ui:define name="content">
		<h:form id="userForm">
			<p:panel header="Add User">
				<h:panelGrid columns="1">
					<br></br>
					<p:messages style="color:red;margin:8px;" />
					<br></br>

					<h:outputText value="First Name: " />
					<p:inputText id="firstName"
						value="#{userRegisterController.user.firstName}" maxlength="30">
						<f:validator binding="#{firstNameValidator}" />
						</p:inputText>
					<br></br>

					<h:outputText value="Last Name: " />
					<p:inputText id="lastName"
						value="#{userRegisterController.user.lastName}" maxlength="30">
						<f:validator binding="#{lastNameValidator}" />
						</p:inputText>
					<br></br>

					<h:outputText value="Email: " />
					<p:inputText id="email"
						value="#{userRegisterController.user.email}" maxlength="45">
						<f:validator binding="#{emailValidator}" />
						</p:inputText>
					<br></br>

					<h:outputText value="Password: " />
					<p:password id="password"
						value="#{userRegisterController.user.password}" maxlength="30">
						<f:validator binding="#{passwordValidator}" />
					</p:password>
					<br></br>

					<h:outputText value="Confirm Password: " />
					<p:password id="confirmPassword"
						value="#{userRegisterController.confirmPassword}" maxlength="30">
						<f:validator binding="#{confirmPasswordValidator}" />
					</p:password>
					<br></br>
					<br></br>

					<p:commandButton value="Save" update="userForm"
						action="#{userRegisterController.saveUser(userRegisterController.user)}" />
					<br></br>
					<p:button href="/login.jsf" id="cancelButton" value="Cancel" />
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>