<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="../admin/admin-layout.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<p:panel header="Due to pay">

				<h:form>
					<p:inputText id="search" pt:placeholder="Tax Name"
						value="#{userListController.searchString}"></p:inputText>
					<h:commandButton value="Search"
						action="#{userListController.findTaxByUserIdAndTaxName(userListController.userId, userListController.searchString)}">
						<f:ajax execute="search" render="form"></f:ajax>
					</h:commandButton>
				</h:form>

				<p:dataTable id="table" var="taxContributor"
					value="#{userListController.taxContributors}">
					<p:column width="40">
						<f:facet name="header">#</f:facet>
						<h:outputText
							value="#{userListController.taxContributors.indexOf(taxContributor) +1}" />
					</p:column>

					<p:column>
						<f:facet name="header">First Name</f:facet>
						<h:outputText value="#{taxContributor.firstName}" />
					</p:column>

					<p:column>
						<f:facet name="header">Last Name</f:facet>
						<h:outputText value="#{taxContributor.lastName}" />
					</p:column>

					<p:column>
						<f:facet name="header">Tax</f:facet>
						<h:outputText value="#{taxContributor.taxName}" />
					</p:column>

					<p:column>
						<f:facet name="header">Price (RON)</f:facet>
						<h:outputText value="#{taxContributor.price}">
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">Due date</f:facet>
						<h:outputText value="#{taxContributor.dueDate}" />
					</p:column>


					<p:column>
						<f:facet name="header">Confirm Payment</f:facet>
						<h:form>
							<p:commandButton id="confirmPayedButton"
								action="#{userListController.confirmPayed(taxContributor)}"
								value="Confirm" process="@this" update="form">
								<p:confirm header="Payment Confirmation"
									message="#{taxContributor.firstName} #{taxContributor.lastName} has payed his #{taxContributor.taxName} tax contribution of #{taxContributor.price}."
									icon="ui-icon-alert" />
							</p:commandButton>

							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<div align="center">
									<p:commandButton value="Yes" type="button"
										styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
									<p:commandButton value="No" type="button"
										styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								</div>
							</p:confirmDialog>
						</h:form>
					</p:column>

					<h:inputHidden value="#{taxContributor.id}" id="userId" />

				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>