<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:f="http://java.sun.com/jsf/core">
<ui:composition template="../admin/admin-layout.xhtml">
	<ui:define name="content">
		<h:form id="taxForm">
			<p:panel header="Tax Details">
				<p:panelGrid columns="1">
					<p:messages style="color:red;margin:8px;" />
					<h:outputLabel for="name" value="Name: " />
					<p:inputText id="name" value="#{taxController.tax.name}">
						<f:validator binding="#{taxNameValidator}" />
					</p:inputText>

					<h:outputLabel for="price" value="Price: " />
					<p:inputNumber id="price" value="#{taxController.tax.price}">
						<f:validator binding="#{taxPriceValidator}" />
					</p:inputNumber>

					<h:outputLabel for="dueDate" value="Due date: " />
					<p:calendar id="dueDate" value="#{taxController.dueDate}"
						pattern="dd/MM/yyyy" mindate="#{taxController.today}"
						required="true" requiredMessage="Due date required.">
						<f:validator binding="#{taxDueDateValidator}" />
					</p:calendar>


					<p:commandButton update="taxForm" value="Save"
						action="#{taxController.save()}" />

				</p:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>