<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>login</title>
</h:head>
<h:body>
	<h:panelGrid column="1" style="width: 100%">
		<h:panelGroup style="display:block; text-align:center">
			<p:panel>
				<h:form id="loginForm">

					<h3>Login</h3>
					<br></br>
					<br></br>
					<p:messages style="color:red;margin:8px;" />
					<br></br>
					<p:outputLabel value="Email" />
					<br></br>
					<p:inputText id="email" value="#{email}"
						requiredMessage="Email cannot be empty.">
						<f:validateRequired />
					</p:inputText>
					<br></br>
					<br></br>

					<p:outputLabel value="Password" />
					<br></br>
					<p:password id="password" value="#{password}"
						requiredMessage="Password cannot be empty.">
						<f:validateRequired />
					</p:password>
					<br></br>
					<br></br>

					<p:commandButton update="loginForm" id="loginButton"
						action="#{loginController.login(email, password)}" value="Login"></p:commandButton>
					<br></br>
					<h:message for="loginButton" style="color: red" />
				</h:form>
				<br></br>
				<br></br>
				<h6>Don't have an account yet?</h6>

				<p:button href="/register" value="Register" />
				<br></br>
				<br></br>

			</p:panel>
		</h:panelGroup>
	</h:panelGrid>

</h:body>
</html>