<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Register</title>
</h:head>

<h:body>
	<h:panelGrid columns="1" style="width: 100%">
		<h:panelGroup style="display:block; text-align:center">
			<p:panel>
				<h:form id="userForm">
					<h3>Register</h3>
					<br></br>
					<br></br>

					<p:messages style="color:red;margin:8px;" />
					<br></br>

					<h:outputText value="First Name: " />
					<br></br>
					<p:inputText id="firstName" label="First Name"
						value="#{registerController.user.firstName}" maxlength="30">
						<f:validator binding="#{firstNameValidator}" />
					</p:inputText>
					<br></br>
					<br></br>

					<h:outputText value="Last Name: " />
					<br></br>
					<p:inputText id="lastName" label="Last Name"
						value="#{registerController.user.lastName}" maxlength="30">
						<f:validator binding="#{lastNameValidator}" />
					</p:inputText>
					<br></br>
					<br></br>

					<h:outputText value="Email: " />
					<br></br>
					<p:inputText id="email" label="Email"
						value="#{registerController.user.email}" maxlength="45">
						<f:validator binding="#{emailValidator}" />
					</p:inputText>
					<br></br>
					<br></br>

					<h:outputText value="Password: " />
					<br></br>
					<p:password id="password" label="Password"
						value="#{registerController.user.password}" maxlength="30">
						<f:validator binding="#{passwordValidator}" />
					</p:password>
					<br></br>
					<br></br>

					<h:outputText value="Confirm Password: " />
					<br></br>
					<p:password id="confirmPassword" label="Confirm Password"
						value="#{registerController.confirmPassword}" maxlength="30">
						<f:validator binding="#{confirmPasswordValidator}" />
					</p:password>
					<br></br>
					<br></br>
					<br></br>

					<p:commandButton update="userForm" id="saveButton" value="Save"
						action="#{registerController.saveUser(registerController.user)}" />

					<br></br>
					<br></br>
					<p:button href="/login.jsf" id="cancelButton" value="Cancel" />

				</h:form>
				<br></br>
				<br></br>

			</p:panel>
		</h:panelGroup>

	</h:panelGrid>
</h:body>
</html>